
html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
abbr, address, cite, code, 
del, dfn, em, img, ins, kbd, q, samp, 
small, strong, sub, sup, var, 
b, i, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, 
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { 
	display: block;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, 
q:before, q:after {
	content: '';
	content: none;
}

p {
	display: block;
	margin: 1.2em 0 1em 0;
}
p:first-child {
	margin-top: 0;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	color: #643;
}

a:hover,
a:focus,
a:active {
	outline: none;
	text-decoration: none;
	color: #954;
}
a:focus {
	text-decoration: underline;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000; 
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;   
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

header {
	background: #cc8800; /* Old browsers */
	background: -webkit-linear-gradient(top,       #cc8800 0%, #ffff00 50%, #cc8800 100%); /* Chrome10-25,Safari5.1-6 */
	background:    -moz-linear-gradient(top,       #cc8800 0%, #ffff00 50%, #cc8800 100%); /* FF3.6-15 */
	background:         linear-gradient(to bottom, #cc8800 0%, #ffff00 50%, #cc8800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-bottom: 1px solid #943;
	font-family: Sans-Serif;
	font-weight: normal;
}

header nav {
	display: block;
	width: 100%;
}

header h1 {
	background-color: #fff;
	line-height: 2em;
	border: 1px solid #999;
	border-radius: 1em;
	box-shadow: 2px 5px 7px rgba(0,0,0,0.1);
	text-align: center;
}

header ul {
	display: block;
}
header li {
	display: inline-block;
	margin: 0 1em;
}

header a {
	font-size: 120%;
	font-weight: bold;
	text-transform: capitalize;
	font-variant: small-caps;
}

header li a {
	color: white;
}

header li a:hover,
header li a:focus {
	color: #fc9;
}

main {
	background-color: white;
	font-family: Sans-Serif;
	font-weight: normal;
}

main h1 {
	font-size: 180%;
	color: #643;
	text-align: center;
	text-transform: capitalize;
	font-variant: small-caps;
}
main h2 { font-size: 160%; }
main h3 { font-size: 120%; }
main h4 { font-size: 110%; }
main h5 { font-size: 105%; }

main h1,
main h2,
main h3,
main h4,
main h5 {
	margin: 1em 0 0.5em 0;
}

main h1:first-child,
main h2:first-child,
main h3:first-child,
main h4:first-child,
main h5:first-child {
	margin-top: 0.5em;
}

main ul {
	display: block;
}

main li {
	padding: 1em;
}

main li a {
	display: block;
	text-align: center;
	padding: 1em 0.5em;
	border: 1px dashed #ddd;
}

main li a:hover,
main li a:focus {
	border: 1px dashed #ccc;
	background-color: #eee;
}

main li a div {
	width: 160px;
	height: 160px;
	margin: 0 auto 1em;
	overflow: hidden;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 80px;
	background-color: white;
}

main li a img {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
}

footer {
	display: block;
	width: 100%;
	padding: 2em 0;
	margin-top: -7px;
	text-align: center;
	background-color: #eee;
	border-top: 1px solid #ccc;
	flex-grow: 0;
	font-family: Sans-Serif;
	font-weight: normal;
	font-size: 80%;
	color: #999;
}

@media screen and (max-width: 640px) {
	header {
		display: block;
		padding: 1em 0 0.5em 0;
	}
	header nav {
		background-color: transparent;
	}
	header h1 {
		margin: -0.3em 1em -0.5em;
		padding: 0 2em;
	}
	header ul {
		width: 100%;
		margin: 1em 0 0 0;
		padding: 0.2em 0;
		background-color: #930;
		text-align: center;
	}
	main ul {
		text-align: center;
	}
	main li {
		display: inline-block;
	}
	main > section {
		padding: 2em 1em;
	}
}

@media screen and (min-width: 641px) {
	html,
	body {
		position: absolute;
		width: 100%;
		min-width: 100%;
		min-height: 100%;
		overflow: auto;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: stretch;
	}

	header {
		width: 100%;
		padding: 1em 0 2em 0;
		margin-bottom: -15px;
		flex-grow: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: stretch;
	}

	header nav {
		background-color: #930;
	}

	header h1 {
		float: left;
		margin: -0.3em 1em -0.5em;
		padding: 0 2em;
	}

	header ul {
		float: right;
		margin: 0 4em 0 0;
		padding: 0.2em 0;
	}

	main {
		display: flex;
		position: relative;
		z-index: 2;
		width: 70%;
		min-width: 600px;
		max-width: 900px;
		border: 1px solid #999;
		background-color: rgba(255,255,255,0.3);
		box-shadow: 0 10px 30px rgba(0,0,0,0.3);
		margin: 0 auto;
		padding: 0;
		flex-grow: 1;
	}

	main > section {
		background-color: white;
		margin-top: 15px;
		padding: 2em 4em;
		flex-grow: 1;
		flex-direction: column;
		align-items: stretch;
		align-content: stretch;
	}

	main ul {
		margin: 1.5em 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	footer {
		flex-grow: 0;
	}
}